@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

.hero-section {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("../images/donation1.jpg") center/cover no-repeat fixed;
    height: 669px;
    width: 100%;
}

.hero {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.hero-title {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;
}

.hero-para {
    font-size: 20px;
    font-weight: 400;
}

.btn {
    background: #FF5959;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 3px;
}

.donate-section {
    background: #FFF;
    margin-top: 8%;
    text-align: center;
}

.donate-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.donate-para {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
}

.donate-money {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.money {
    height: 123px;
    width: 135px;
    background-color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.6;
    text-align: center;
    margin: 5px;
    position: relative;
    border-radius: 5px;
}

#active {
    background-color: #e47979;
    color: red;
    border: red solid 5px;
    border-radius: 5px;
}

.donate-form {
    margin-top: 4%;
}

.input-form {
    margin-bottom: 2%;
    text-align: center;
    padding-bottom: 1%;
    width: 765px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid silver;

}

.input-form:focus {
    outline: none;
}

.donate-plan {
    margin-top: 8%;
    text-align: center;
}

.donate-plan-div {
    margin-bottom: 5%;
}

.cards {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

#card1 {
    width: 360px;
    height: 292px;
    text-align: left;
    padding: 3%;
    border-radius: 8px;
    margin-right: 1%;
    background-color: #4f9da634;
}

#card2 {
    text-align: left;
    padding: 3%;
    border-radius: 8px;
    width: 360px;
    height: 292px;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #ff59592d;
}

#card3 {
    text-align: left;
    padding: 3%;
    border-radius: 8px;
    width: 360px;
    height: 292px;
    margin-left: 1%;
    background-color: rgba(235, 235, 117, 0.24);
}

#education-img {
    width: 53px;
    height: 53px;
    color: black;
    margin-top: 6%;
}

#shelter-img {
    width: 53px;
    height: 53px;
    color: black;
    margin-top: 6%;
}

#food-img {
    width: 53px;
    height: 53px;
    color: black;
    margin-top: 6%;
}

.update-section {
    margin-top: 8%;
    text-align: center;
}

.box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background-color: rgba(255, 166, 0, 0.452);
    border-radius: 10px;
    padding: 3%;
}

.box input {
    font-size: 20px;
    width: 60%;
    border: none;
    padding: 15px 20px;
    outline: none;
    margin: 0;
    border-radius: 5px;
    background: #EFEFEF;
}

.box button {
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 15px 20px;
    margin: 0;
    border-radius: 5px;
    background-color: #FF5959;
}

.update {
    margin-bottom: 7%;
}

.footer-section {
    height: 177px;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

.footer h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-top: 3%;
    
}

.footer p {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

#humble {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #e47979;
}